body {
    background-color: lightblue;
    text-align: center;
}


.click {
    cursor: pointer;
}
#logo_image {
    cursor: pointer;
}

.star{
    width: 50px; /* you can use % */
    height: 50px;
}
#fullStar{
    width: 50px; /* you can use % */
    height: 50px;
}

#start_image img{
    position: relative;
    width: 100px;
    height: 100px;
}

#start_image{
    position: relative;
    left: 200px;
    width: 300px;
    padding: 10px;
}

#search_menu{
    position: relative;
    left: 200px;
    top: 2px;
    width: 300px;
    padding: 10px;
}

#b_logout{
    position: relative;
    right: -630px;
    top: -230px;
    width: 60px;
    padding: 10px;
}

#search_value{
    position: relative;
    left: 220px;
    width: 500px;
    height: 20px;
    top: -90px;
    padding: 10px;
}

#b_search{
    position: relative;
    left: 650px;
    top: -134px;
    height: 43px;
    padding: 10px;
}

#top_chef_menu #elements{
    position: relative;
    top: 4000px;
}

#email{
    align-self: center;
    height: 10px;
    padding: 10px;
}

#password{
    align-self: center;
    height: 10px;
    padding: 10px;
}

#b_loguin{
    align-self: center;
    height: 35px;
    padding: 10px;
}

#start_menu{
    position: relative;
    left: 150px;
    top: -100px;
    width: 300px;
}

#chef_img{
    position: relative;;
    width: 100px;
    height: 100px;
    left: 25px;
}

#meal_img{
    position: relative;;
    width: 100px;
    height: 100px;
    align-self: flex-start;
}

#name{
    position: relative;;
    left: 150px;
    top: -75px;
}

#star_img5{
    position: relative;;
    left: 400px;
    top: -125px;
}
#star_img4{
    position: relative;;
    left: 400px;
    top: -125px;
}
#star_img3{
    position: relative;;
    left: 400px;
    top: -125px;
}
#star_img2{
    position: relative;;
    left: 400px;
    top: -125px;
}
#star_img1{
    position: relative;
    left: 400px;
    top: -125px;
}

.chef{
    position: relative;
    left: 100px;
    height: 125px;
}
.meal{
    position: relative;
    left: 100px;
    height: 125px;
}

#b_more_chefs{
    position: relative;
    left: 600px;
    height: 43px;
    padding: 10px;
}
#b_more_meals{
    position: relative;
    left: 600px;
    height: 43px;
    padding: 10px;
}

#chef_menu{
    position: relative;
    top: -100px;
}

#b_get_meals{
    position: relative;
    height: 35px;
    width: 75px;
    top: 10px;
    left: 100px;
}

#comments{
    position: relative;
    top: 100px;
}

#b_comment{
    position: relative;
    height: 35px;
    top: -13px;
}
